In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Previous_app dataset
file_path2 = "/content/drive/MyDrive/UP2205708 (Major Project)MSc Data Analytics/Report/filtered_previous_app.csv"
filtered_previous_app = pd.read_csv(file_path2, header='infer')

In [ ]:
# Check for missing values
print("\nMissing values in previous_app dataset:")
print(filtered_previous_app.isnull().sum())

Missing values in previous_app dataset:
SK_ID_PREV                          0
SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
AMT_ANNUITY                     46388
AMT_APPLICATION                     0
AMT_CREDIT                          0
AMT_DOWN_PAYMENT               116881
AMT_GOODS_PRICE                 48961
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
RATE_DOWN_PAYMENT              116881
RATE_INTEREST_PRIMARY          289468
RATE_INTEREST_PRIVILEGED       289468
NAME_CASH_LOAN_PURPOSE              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
NAME_PAYMENT_TYPE                   0
CODE_REJECT_REASON                  0
NAME_TYPE_SUITE                141335
NAME_CLIENT_TYPE                    0
NAME_GOODS_CATEGORY                 0
NAME_PORTFOLIO                      0
NAME_PRODUCT_TYPE                   0
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
NAME_SELLER_INDUSTRY                0
CNT_PAYMENT                     46385
NAME_YIELD_GROUP                    0
PRODUCT_COMBINATION                48
DAYS_FIRST_DRAWING              82652
DAYS_FIRST_DUE                  82652
DAYS_LAST_DUE_1ST_VERSION       82652
DAYS_LAST_DUE                   82652
DAYS_TERMINATION                82652
NFLAG_INSURED_ON_APPROVAL       82652
dtype: int64

In [ ]:
filtered_previous_app.shape

(291057, 37)

In [ ]:
print("\nInfo for previous_app dataset:")
print(filtered_previous_app.info())

Info for previous_app dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291057 entries, 0 to 291056
Data columns (total 37 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_PREV                   291057 non-null  int64
 1   SK_ID_CURR                   291057 non-null  int64
 2   NAME_CONTRACT_TYPE           291057 non-null  object
 3   AMT_ANNUITY                  244669 non-null  float64
 4   AMT_APPLICATION              291057 non-null  float64
 5   AMT_CREDIT                   291057 non-null  float64
 6   AMT_DOWN_PAYMENT             174176 non-null  float64
 7   AMT_GOODS_PRICE              242096 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   291057 non-null  object
 9   HOUR_APPR_PROCESS_START      291057 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  291057 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       291057 non-null  int64
 12  RATE_DOWN_PAYMENT            174176 non-null  float64
 13  RATE_INTEREST_PRIMARY        1589 non-null    float64
 14  RATE_INTEREST_PRIVILEGED     1589 non-null    float64
 15  NAME_CASH_LOAN_PURPOSE       291057 non-null  object
 16  NAME_CONTRACT_STATUS         291057 non-null  object
 17  DAYS_DECISION                291057 non-null  int64
 18  NAME_PAYMENT_TYPE            291057 non-null  object
 19  CODE_REJECT_REASON           291057 non-null  object
 20  NAME_TYPE_SUITE              149722 non-null  object
 21  NAME_CLIENT_TYPE             291057 non-null  object
 22  NAME_GOODS_CATEGORY          291057 non-null  object
 23  NAME_PORTFOLIO               291057 non-null  object
 24  NAME_PRODUCT_TYPE            291057 non-null  object
 25  CHANNEL_TYPE                 291057 non-null  object
 26  SELLERPLACE_AREA             291057 non-null  int64
 27  NAME_SELLER_INDUSTRY         291057 non-null  object
 28  CNT_PAYMENT                  244672 non-null  float64
 29  NAME_YIELD_GROUP             291057 non-null  object
 30  PRODUCT_COMBINATION          291009 non-null  object
 31  DAYS_FIRST_DRAWING           208405 non-null  float64
 32  DAYS_FIRST_DUE               208405 non-null  float64
 33  DAYS_LAST_DUE_1ST_VERSION    208405 non-null  float64
 34  DAYS_LAST_DUE                208405 non-null  float64
 35  DAYS_TERMINATION             208405 non-null  float64
 36  NFLAG_INSURED_ON_APPROVAL    208405 non-null  float64
dtypes: float64(15), int64(6), object(16)
memory usage: 82.2+ MB
None

In [ ]:
filtered_previous_app.shape

(291057, 37)

In [ ]:
!pip install mplfinance

Collecting mplfinance
  Downloading mplfinance-0.12.10b0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from mplfinance) (3.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from mplfinance) (2.1.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mplfinance) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mplfinance) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)
Downloading mplfinance-0.12.10b0-py3-none-any.whl (75 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 3.5 MB/s eta 0:00:00
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.10b0

In [ ]:
filtered_previous_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,1038818,100002,Consumer loans,9251.775,179055.0,179055.0,0.0,179055.0,SATURDAY,9,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,2636178,100003,Consumer loans,64567.665,337500.0,348637.5,0.0,337500.0,SUNDAY,17,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
2,1564014,100004,Consumer loans,5357.250,24282.0,20106.0,4860.0,24282.0,FRIDAY,5,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0
3,2827850,100006,Revolving loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
4,2730157,100007,Cash loans,13010.985,225000.0,284400.0,NaN,225000.0,FRIDAY,13,...,XNA,48.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Dropping unnecessary columns

columns_to_drop = [
    'HOUR_APPR_PROCESS_START','DAYS_FIRST_DUE','NFLAG_INSURED_ON_APPROVAL',
    'SELLERPLACE_AREA','RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED'

]
# Drop the columns from the dataframe
filtered_previous_app.drop(columns_to_drop, axis=1, inplace=True)

# Confirm columns have been dropped
print(filtered_previous_app.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT',
       'NFLAG_LAST_APPL_IN_DAY', 'RATE_DOWN_PAYMENT', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'NAME_SELLER_INDUSTRY', 'CNT_PAYMENT',
       'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION', 'DAYS_FIRST_DRAWING',
       'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION'],
      dtype='object')

In [ ]:
print(filtered_previous_app.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT',
       'NFLAG_LAST_APPL_IN_DAY', 'RATE_DOWN_PAYMENT', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'NAME_SELLER_INDUSTRY', 'CNT_PAYMENT',
       'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION', 'DAYS_FIRST_DRAWING',
       'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION'],
      dtype='object')

In [ ]:
import warnings

# Suppress the SettingWithCopyWarning
warnings.filterwarnings("ignore", category=UserWarning, module='pandas')

In [ ]:
def balance_column(column_names, dataframe):
    for column_name in column_names:
        #print(f"\n\n--- Balancing {column_name} ---")

        # Step 1: Handle Missing Values
        # Impute missing values using the median
        dataframe[column_name].fillna(dataframe[column_name].median(), inplace=True)

        # Step 2: Handle Outliers
        # Define a function to cap outliers
        def cap_outliers(series, lower_percentile=0.01, upper_percentile=0.99):
            lower_bound = series.quantile(lower_percentile)
            upper_bound = series.quantile(upper_percentile)
            return np.clip(series, lower_bound, upper_bound)

        # Apply the function to cap outliers in the column
        dataframe[column_name] = cap_outliers(dataframe[column_name])

        # Check for Missing Values
        print(f"\nMissing Values in {column_name}:")
        print(dataframe[column_name].isnull().sum())

# List of columns to balance
columns_to_balance = [
    'AMT_ANNUITY', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE', 'RATE_DOWN_PAYMENT',
    'CNT_PAYMENT', 'DAYS_FIRST_DRAWING',
    'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION'
]

# Example usage with the filtered_previous_app dataframe
balance_column(columns_to_balance, filtered_previous_app)

Missing Values in AMT_ANNUITY:
0

Missing Values in AMT_DOWN_PAYMENT:
0

Missing Values in AMT_GOODS_PRICE:
0

Missing Values in RATE_DOWN_PAYMENT:
0

Missing Values in CNT_PAYMENT:
0

Missing Values in DAYS_FIRST_DRAWING:
0

Missing Values in DAYS_LAST_DUE_1ST_VERSION:
0

Missing Values in DAYS_LAST_DUE:
0

Missing Values in DAYS_TERMINATION:
0

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [ ]:
# Impute missing values with the mode for 'PRODUCT_COMBINATION'
most_frequent_value = filtered_previous_app['PRODUCT_COMBINATION'].mode()[0]
filtered_previous_app['PRODUCT_COMBINATION'].fillna(most_frequent_value, inplace=True)

# Check and print the number of missing values after imputation
missing_values_product_combination = filtered_previous_app['PRODUCT_COMBINATION'].isnull().sum()

print(f"Number of missing values in 'PRODUCT_COMBINATION' after imputation: {missing_values_product_combination}")

Number of missing values in 'PRODUCT_COMBINATION' after imputation: 0

In [ ]:
# Replace missing values in 'NAME_TYPE_SUITE' with 'Unknown'
filtered_previous_app['NAME_TYPE_SUITE'].fillna('Unknown', inplace=True)

# Check and print the number of missing values after replacement
missing_values_name_type_suite = filtered_previous_app['NAME_TYPE_SUITE'].isnull().sum()

# Get the list of unique values
unique_values_name_type_suite = filtered_previous_app['NAME_TYPE_SUITE'].unique()

# Display the results
print(f"Number of missing values in 'NAME_TYPE_SUITE' after replacement: {missing_values_name_type_suite}")
print(f"Unique values in 'NAME_TYPE_SUITE': {unique_values_name_type_suite}")

Number of missing values in 'NAME_TYPE_SUITE' after replacement: 0
Unique values in 'NAME_TYPE_SUITE': ['Unknown' 'Family' 'Unaccompanied' 'Spouse, partner' 'Other_A' 'Other_B'
 'Children' 'Group of people']

In [ ]:
print("\nMissing values in previous_app dataset:")
print(filtered_previous_app.isnull().sum())

Missing values in previous_app dataset:
SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    0
AMT_APPLICATION                0
AMT_CREDIT                     0
AMT_DOWN_PAYMENT               0
AMT_GOODS_PRICE                0
WEEKDAY_APPR_PROCESS_START     0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
RATE_DOWN_PAYMENT              0
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_TYPE_SUITE                0
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    0
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            0
DAYS_FIRST_DRAWING             0
DAYS_LAST_DUE_1ST_VERSION      0
DAYS_LAST_DUE                  0
DAYS_TERMINATION               0
dtype: int64

In [ ]:
# List of columns to check before converting to absolute values
columns_to_convert = [
    'DAYS_DECISION',
    'DAYS_FIRST_DRAWING',
    'DAYS_LAST_DUE_1ST_VERSION',
    'DAYS_LAST_DUE',
    'DAYS_TERMINATION'
]

# Check the dataset before converting negative values to absolute values
print("Before converting to absolute values:")
print(filtered_previous_app[columns_to_convert].head())

Before converting to absolute values:
   DAYS_DECISION  DAYS_FIRST_DRAWING  DAYS_LAST_DUE_1ST_VERSION  \
0           -606            365243.0                      125.0
1           -828            365243.0                     -647.0
2           -815            365243.0                     -694.0
3           -181            365243.0                     -315.0
4           -867            365243.0                     -315.0

   DAYS_LAST_DUE  DAYS_TERMINATION
0          -25.0             -17.0
1         -647.0            -639.0
2         -724.0            -714.0
3         -455.0            -418.0
4         -455.0            -418.0

In [ ]:
# Describe the DAYS_FIRST_DRAWING column before converting to absolute values
print("Before converting to absolute values:")
print(filtered_previous_app['DAYS_FIRST_DRAWING'].describe())

Before converting to absolute values:
count    291057.000000
mean     351016.308105
std       70768.030943
min       -2202.000000
25%      365243.000000
50%      365243.000000
75%      365243.000000
max      365243.000000
Name: DAYS_FIRST_DRAWING, dtype: float64

In [ ]:
# List of columns to convert to absolute values
columns_to_convert = [
    'DAYS_DECISION',
    'DAYS_FIRST_DRAWING',
    'DAYS_LAST_DUE_1ST_VERSION',
    'DAYS_LAST_DUE',
    'DAYS_TERMINATION'
]

# Convert the negative values to absolute values
filtered_previous_app[columns_to_convert] = filtered_previous_app[columns_to_convert].abs()

In [ ]:
# Check the dataset after converting negative values to absolute values
print("After converting to absolute values:")
print(filtered_previous_app[columns_to_convert].head())

After converting to absolute values:
   DAYS_DECISION  DAYS_FIRST_DRAWING  DAYS_LAST_DUE_1ST_VERSION  \
0            606            365243.0                      125.0
1            828            365243.0                      647.0
2            815            365243.0                      694.0
3            181            365243.0                      315.0
4            867            365243.0                      315.0

   DAYS_LAST_DUE  DAYS_TERMINATION
0           25.0              17.0
1          647.0             639.0
2          724.0             714.0
3          455.0             418.0
4          455.0             418.0

In [ ]:
# List of columns to convert and handle outliers
columns_to_convert = [
    'DAYS_DECISION',
    'DAYS_FIRST_DRAWING',
    'DAYS_LAST_DUE_1ST_VERSION',
    'DAYS_LAST_DUE',
    'DAYS_TERMINATION'
]

# Set the threshold to 1000 (or another value you deem reasonable)
threshold = 1000

# Function to handle outliers by replacing values greater than the threshold with the median
def impute_outliers(df, column, threshold):
    # Calculate the median for the column based on values below the threshold
    median_value = df.loc[df[column] <= threshold, column].median()
    # Replace outliers (values above the threshold) with the median
    df[column] = df[column].apply(lambda x: median_value if x > threshold else x)
    return df

# Loop through each column and handle the outliers
for column in columns_to_convert:
    filtered_previous_app = impute_outliers(filtered_previous_app, column, threshold)

# Check the updated values after imputation for each column
for column in columns_to_convert:
    print(f"After imputing outliers in {column}:")
    print(filtered_previous_app[column].describe(), "\n")

After imputing outliers in DAYS_DECISION:
count    291057.000000
mean        413.977410
std         209.917272
min           2.000000
25%         303.000000
50%         384.000000
75%         490.000000
max        1000.000000
Name: DAYS_DECISION, dtype: float64

After imputing outliers in DAYS_FIRST_DRAWING:
count    291057.000000
mean        368.318405
std          36.874231
min           2.000000
25%         367.000000
50%         367.000000
75%         367.000000
max        1000.000000
Name: DAYS_FIRST_DRAWING, dtype: float64

After imputing outliers in DAYS_LAST_DUE_1ST_VERSION:
count    291057.000000
mean        328.059765
std         182.437791
min           0.000000
25%         315.000000
50%         315.000000
75%         315.000000
max        1000.000000
Name: DAYS_LAST_DUE_1ST_VERSION, dtype: float64

After imputing outliers in DAYS_LAST_DUE:
count    291057.000000
mean        441.307892
std         161.465130
min           2.000000
25%         455.000000
50%         455.000000
75%         455.000000
max        1000.000000
Name: DAYS_LAST_DUE, dtype: float64

After imputing outliers in DAYS_TERMINATION:
count    291057.000000
mean        415.309228
std         159.468937
min           2.000000
25%         418.000000
50%         418.000000
75%         418.000000
max        1000.000000
Name: DAYS_TERMINATION, dtype: float64

In [ ]:
# Check the distribution of NAME_CONTRACT_TYPE
contract_type_distribution = filtered_previous_app['NAME_CONTRACT_TYPE'].value_counts()
print(contract_type_distribution)

# Replace 'XNA' with the mode
most_frequent_contract_type = filtered_previous_app['NAME_CONTRACT_TYPE'].mode()[0]
filtered_previous_app['NAME_CONTRACT_TYPE'].replace('XNA', most_frequent_contract_type, inplace=True)

# Verify the replacement
print(filtered_previous_app['NAME_CONTRACT_TYPE'].value_counts())

#Justification
#Why Replace with the Mode: By replacing 'XNA' with the mode,
#we are making an informed decision that the missing or unclear data ('XNA') likely corresponds to the most common

NAME_CONTRACT_TYPE
Consumer loans     168120
Cash loans          94068
Revolving loans     28821
XNA                    48
Name: count, dtype: int64
NAME_CONTRACT_TYPE
Consumer loans     168168
Cash loans          94068
Revolving loans     28821
Name: count, dtype: int64

In [ ]:
# Before imputation: Showing the counts of 'XNA' and 'XAP' in relevant columns
print("Before imputation:")
xna_goods_count = filtered_previous_app['NAME_GOODS_CATEGORY'].value_counts().get('XNA', 0)
xna_reject_reason_count = filtered_previous_app['CODE_REJECT_REASON'].value_counts().get('XNA', 0)
xap_reject_reason_count = filtered_previous_app['CODE_REJECT_REASON'].value_counts().get('XAP', 0)
xna_cash_loan_count = filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts().get('XNA', 0)
xap_cash_loan_count = filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts().get('XAP', 0)

print(f"Number of 'XNA' entries in 'NAME_GOODS_CATEGORY': {xna_goods_count}")
print(f"Number of 'XNA' entries in 'CODE_REJECT_REASON': {xna_reject_reason_count}")
print(f"Number of 'XAP' entries in 'CODE_REJECT_REASON': {xap_reject_reason_count}")
print(f"Number of 'XNA' entries in 'NAME_CASH_LOAN_PURPOSE': {xna_cash_loan_count}")
print(f"Number of 'XAP' entries in 'NAME_CASH_LOAN_PURPOSE': {xap_cash_loan_count}")

# Imputation: Replacing 'XNA' and 'XAP' values
filtered_previous_app['NAME_GOODS_CATEGORY'] = filtered_previous_app['NAME_GOODS_CATEGORY'].replace('XNA', 'Not Specified')
filtered_previous_app['CODE_REJECT_REASON'].replace('XNA', 'Not Available', inplace=True)
filtered_previous_app['CODE_REJECT_REASON'].replace('XAP', 'Accepted After Initial Rejection', inplace=True)
filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].replace('XNA', 'Not Specified', inplace=True)
filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].replace('XAP', 'Other', inplace=True)

# After imputation: Showing the updated counts
print("\nAfter imputation:")
print(filtered_previous_app['NAME_GOODS_CATEGORY'].value_counts())
print(filtered_previous_app['CODE_REJECT_REASON'].value_counts())
print(filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts())

Before imputation:
Number of 'XNA' entries in 'NAME_GOODS_CATEGORY': 124414
Number of 'XNA' entries in 'CODE_REJECT_REASON': 608
Number of 'XAP' entries in 'CODE_REJECT_REASON': 252630
Number of 'XNA' entries in 'NAME_CASH_LOAN_PURPOSE': 84258
Number of 'XAP' entries in 'NAME_CASH_LOAN_PURPOSE': 196989

After imputation:
NAME_GOODS_CATEGORY
Not Specified               124414
Mobile                       50083
Consumer Electronics         27910
Computers                    24566
Audio/Video                  22553
Furniture                    13272
Construction Materials        6247
Clothing and Accessories      6173
Photo / Cinema Equipment      5320
Auto Accessories              1708
Jewelry                       1441
Homewares                     1417
Medical Supplies              1270
Vehicles                       909
Sport and Leisure              768
Gardening                      694
Other                          526
Office Appliances              516
Medicine                       502
Tourism                        484
Direct Sales                   108
Fitness                         77
Education                       44
Additional Service              29
Weapon                          18
Insurance                        8
Name: count, dtype: int64
CODE_REJECT_REASON
Accepted After Initial Rejection    252630
HC                                   18307
LIMIT                                 7661
SCO                                   5058
CLIENT                                4553
SCOFR                                 1691
Not Available                          608
VERIF                                  448
SYSTEM                                 101
Name: count, dtype: int64
NAME_CASH_LOAN_PURPOSE
Other                               199150
Not Specified                        84258
Repairs                               3337
Urgent needs                          1288
Buying a used car                      406
Building a house or an annex           352
Everyday expenses                      347
Medicine                               321
Education                              238
Purchase of electronic equipment       183
Payments on other loans                182
Journey                                178
Wedding / gift / holiday               138
Furniture                              126
Buying a new car                       125
Car repairs                            122
Buying a home                          114
Buying a holiday home / land            63
Business development                    54
Gasification / water supply             46
Buying a garage                         15
Hobby                                    9
Refusal to name the goal                 3
Money for a third person                 2
Name: count, dtype: int64

In [ ]:
# Before imputation: Showing the counts of 'XNA' and 'XAP' in relevant columns
print("After imputation:")
xna_goods_count = filtered_previous_app['NAME_GOODS_CATEGORY'].value_counts().get('XNA', 0)
xna_reject_reason_count = filtered_previous_app['CODE_REJECT_REASON'].value_counts().get('XNA', 0)
xap_reject_reason_count = filtered_previous_app['CODE_REJECT_REASON'].value_counts().get('XAP', 0)
xna_cash_loan_count = filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts().get('XNA', 0)
xap_cash_loan_count = filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts().get('XAP', 0)

print(f"Number of 'XNA' entries in 'NAME_GOODS_CATEGORY': {xna_goods_count}")
print(f"Number of 'XNA' entries in 'CODE_REJECT_REASON': {xna_reject_reason_count}")
print(f"Number of 'XAP' entries in 'CODE_REJECT_REASON': {xap_reject_reason_count}")
print(f"Number of 'XNA' entries in 'NAME_CASH_LOAN_PURPOSE': {xna_cash_loan_count}")
print(f"Number of 'XAP' entries in 'NAME_CASH_LOAN_PURPOSE': {xap_cash_loan_count}")

# Imputation: Replacing 'XNA' and 'XAP' values
filtered_previous_app['NAME_GOODS_CATEGORY'] = filtered_previous_app['NAME_GOODS_CATEGORY'].replace('XNA', 'Not Specified')
filtered_previous_app['CODE_REJECT_REASON'].replace('XNA', 'Not Available', inplace=True)
filtered_previous_app['CODE_REJECT_REASON'].replace('XAP', 'Accepted After Initial Rejection', inplace=True)
filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].replace('XNA', 'Not Specified', inplace=True)
filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].replace('XAP', 'Other', inplace=True)

# After imputation: Showing the updated counts
print("\nAfter imputation:")
print(filtered_previous_app['NAME_GOODS_CATEGORY'].value_counts())
print(filtered_previous_app['CODE_REJECT_REASON'].value_counts())
print(filtered_previous_app['NAME_CASH_LOAN_PURPOSE'].value_counts())

# Replacing 'XNA' with 'Unknown' in multiple columns in the dataset
columns_to_replace = [
    'NAME_PAYMENT_TYPE',
    'NAME_CLIENT_TYPE',
    'NAME_PORTFOLIO',
    'NAME_PRODUCT_TYPE',
    'NAME_SELLER_INDUSTRY',
    'NAME_YIELD_GROUP'
]

# Loop through each column and replace 'XNA' with 'Unknown'
for column in columns_to_replace:
    filtered_previous_app[column].replace('XNA', 'Unknown', inplace=True)

# Verify the replacement by printing value counts for each column
print("\nVerifying replacements in the following columns:\n")
for column in columns_to_replace:
    print(f"{column} value counts after replacement:")
    print(filtered_previous_app[column].value_counts(), "\n")

After imputation:
Number of 'XNA' entries in 'NAME_GOODS_CATEGORY': 0
Number of 'XNA' entries in 'CODE_REJECT_REASON': 0
Number of 'XAP' entries in 'CODE_REJECT_REASON': 0
Number of 'XNA' entries in 'NAME_CASH_LOAN_PURPOSE': 0
Number of 'XAP' entries in 'NAME_CASH_LOAN_PURPOSE': 0

After imputation:
NAME_GOODS_CATEGORY
Not Specified               124414
Mobile                       50083
Consumer Electronics         27910
Computers                    24566
Audio/Video                  22553
Furniture                    13272
Construction Materials        6247
Clothing and Accessories      6173
Photo / Cinema Equipment      5320
Auto Accessories              1708
Jewelry                       1441
Homewares                     1417
Medical Supplies              1270
Vehicles                       909
Sport and Leisure              768
Gardening                      694
Other                          526
Office Appliances              516
Medicine                       502
Tourism                        484
Direct Sales                   108
Fitness                         77
Education                       44
Additional Service              29
Weapon                          18
Insurance                        8
Name: count, dtype: int64
CODE_REJECT_REASON
Accepted After Initial Rejection    252630
HC                                   18307
LIMIT                                 7661
SCO                                   5058
CLIENT                                4553
SCOFR                                 1691
Not Available                          608
VERIF                                  448
SYSTEM                                 101
Name: count, dtype: int64
NAME_CASH_LOAN_PURPOSE
Other                               199150
Not Specified                        84258
Repairs                               3337
Urgent needs                          1288
Buying a used car                      406
Building a house or an annex           352
Everyday expenses                      347
Medicine                               321
Education                              238
Purchase of electronic equipment       183
Payments on other loans                182
Journey                                178
Wedding / gift / holiday               138
Furniture                              126
Buying a new car                       125
Car repairs                            122
Buying a home                          114
Buying a holiday home / land            63
Business development                    54
Gasification / water supply             46
Buying a garage                         15
Hobby                                    9
Refusal to name the goal                 3
Money for a third person                 2
Name: count, dtype: int64

Verifying replacements in the following columns:

NAME_PAYMENT_TYPE value counts after replacement:
NAME_PAYMENT_TYPE
Cash through the bank                        195911
Unknown                                       93188
Non-cash from your account                     1780
Cashless from the account of the employer       178
Name: count, dtype: int64

NAME_CLIENT_TYPE value counts after replacement:
NAME_CLIENT_TYPE
Repeater     161308
New          100538
Refreshed     28939
Unknown         272
Name: count, dtype: int64

NAME_PORTFOLIO value counts after replacement:
NAME_PORTFOLIO
POS        161877
Cash        59987
Unknown     46385
Cards       22717
Cars           91
Name: count, dtype: int64

NAME_PRODUCT_TYPE value counts after replacement:
NAME_PRODUCT_TYPE
Unknown    208353
x-sell      59339
walk-in     23365
Name: count, dtype: int64

NAME_SELLER_INDUSTRY value counts after replacement:
NAME_SELLER_INDUSTRY
Unknown                 108489
Consumer electronics     86909
Connectivity             60241
Furniture                14279
Construction              7564
Clothing                  6206
Industry                  5039
Auto technology           1306
Jewelry                    621
MLM partners               267
Tourism                    136
Name: count, dtype: int64

NAME_YIELD_GROUP value counts after replacement:
NAME_YIELD_GROUP
middle        73278
Unknown       69102
high          68214
low_normal    60622
low_action    19841
Name: count, dtype: int64

In [ ]:
# Replacing 'XNA' with 'Unknown' in multiple columns in the dataset
columns_to_replace = [
    'NAME_PAYMENT_TYPE',
    'NAME_CLIENT_TYPE',
    'NAME_PORTFOLIO',
    'NAME_PRODUCT_TYPE',
    'NAME_SELLER_INDUSTRY',
    'NAME_YIELD_GROUP'
]

# Loop through each column and replace 'XNA' with 'Unknown'
for column in columns_to_replace:
    filtered_previous_app[column].replace('XNA', 'Unknown', inplace=True)

# Verify the replacement by printing value counts for each column
for column in columns_to_replace:
    print(f"{column} value counts after replacement:")
    print(filtered_previous_app[column].value_counts(), "\n")

NAME_PAYMENT_TYPE value counts after replacement:
NAME_PAYMENT_TYPE
Cash through the bank                        195911
Unknown                                       93188
Non-cash from your account                     1780
Cashless from the account of the employer       178
Name: count, dtype: int64

NAME_CLIENT_TYPE value counts after replacement:
NAME_CLIENT_TYPE
Repeater     161308
New          100538
Refreshed     28939
Unknown         272
Name: count, dtype: int64

NAME_PORTFOLIO value counts after replacement:
NAME_PORTFOLIO
POS        161877
Cash        59987
Unknown     46385
Cards       22717
Cars           91
Name: count, dtype: int64

NAME_PRODUCT_TYPE value counts after replacement:
NAME_PRODUCT_TYPE
Unknown    208353
x-sell      59339
walk-in     23365
Name: count, dtype: int64

NAME_SELLER_INDUSTRY value counts after replacement:
NAME_SELLER_INDUSTRY
Unknown                 108489
Consumer electronics     86909
Connectivity             60241
Furniture                14279
Construction              7564
Clothing                  6206
Industry                  5039
Auto technology           1306
Jewelry                    621
MLM partners               267
Tourism                    136
Name: count, dtype: int64

NAME_YIELD_GROUP value counts after replacement:
NAME_YIELD_GROUP
middle        73278
Unknown       69102
high          68214
low_normal    60622
low_action    19841
Name: count, dtype: int64

In [ ]:
# Specify the file path
file_path2 = "/content/drive/MyDrive/UP2205708 (Major Project)MSc Data Analytics/Report/filtered_previous_app1.csv"

# Save the DataFrame to a CSV file
filtered_previous_app.to_csv(file_path2, index=False)

print(f"DataFrame saved to {file_path2}")

DataFrame saved to /content/drive/MyDrive/UP2205708 (Major Project)MSc Data Analytics/Report/filtered_previous_app1.csv

In [ ]:
#Dropping these columns as they are not that much imp for modeling for "Loan Approval prediction"
# filtered_previous_app = filtered_previous_app.drop(columns=['WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY'])